/* место для вашего кода */

.header {
  margin-top: 92px;
  margin-right: 50px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1340px;
  height: 109px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  white-space: nowrap;
}

.header__links-list-item {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-image: url("../images/list_marker.svg");
}

.header__links-list-item_no-bullit {
  list-style-image: none;
  list-style: none;
}

.link-active {
  text-decoration: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
  margin-right: 355px;
  margin-left: 209px;
}

.address {
  display: flex;
  flex-direction: column;
  width: 240px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}

.header__address {
  padding-top: 5px;
  padding-bottom: 7px;
}

/*
 Так я сделал, так как при стандартном теге a подчеркивание ссылки
 наезжало на текст
 */

.address-link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.cover {
  position: relative;
  margin-top: 92px;
  height: 757px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/cover.jpg");
  color: #fff;

}

.cover__shadow {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  
}


.cover__title {
  position: absolute;;
  bottom: 237px;
  right: 50px;
  width: 1340px;
  margin-top: 165px;
}


.cover__text {
  display: block;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__text-left {
  text-align: left;
}

.cover__text-center {
  text-align: center;
}

.cover__text-right {
  text-align: right;
}

.cover__text-separator {
  /* на глаз показалось, что примерно такое значение отступа */

  letter-spacing: 0.5em;
}

.cover__footer {
  position: absolute;
  right: 50px;
  bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-top: 135px;
  margin-left: 422px;
}

.cover__footer-text {
  margin-right: 110px;
  word-spacing: 0.5em;
  text-align: center;
  white-space: nowrap;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
}

.cover__footer-text-bigger-space {

  word-spacing: 1em;
}

.cover_footer-link {
  text-decoration: none;
}

.cover__footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 257px;
  height: 52px;
  border: 1px solid #fff;
}

.cover_footer-button-text {
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.lots {
  width: 1340px;
  margin: 180px 50px 180px;
  height: 579px;
  box-sizing: border-box;
}

.lots__title {
  display: block;
  padding-left: 40px;
  margin-bottom: 27px;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.lots__cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 30px;
}

.lots__card {
  position: relative;
  width: 430px;
  height: 450px;
}

.lots__card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  padding: 50px 40px 50px;
  background: rgba(0, 0, 0, 0.6);
}

.lots__card-text-title {
  display: block;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
}

.lots__card-text-description {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.lots_more-button {
  padding-left: 40px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about {
  width: 1340px;
  height: 487px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 180px;
  display: flex;
  flex-direction: row;
  align-items: start;
  box-sizing: border-box;
}

.about__images {
  position: relative;
  padding-left: 95px;
  padding-right: 95px;
}

.about__images-container {
  width: 240px;
  height: 240px;
}

/* 
  Зравствуйте! Не подскажите, верным ли был мой шаг, что я нанес 
  логотип изображения на svg с помощью position? Или надо было лучше 
  по - другому сделать? Заранее спасибо за ответ! 
*/

.about__images-logo {
  position: absolute;
  width: 148px;
  height: 114px;
  top: 63px;

  /* 
    данное значение получилось из - за того, что при паддинге 
    контейнера изображений надо сместить и позицию логотипа внутри
    svg изображения: 46(на верстке) + 95(смещение) = 141
  */

  left: 141px;
}

.about__text-container {
  margin-left: 25px;
  margin-top: 100px;
}

.about__text-title {
  display: block;
  margin-bottom: 100px;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__text-description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.footer {
  margin-bottom: 90px;
  margin-left: 50px;
  margin-right: 50px;
  width: 1340px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.footer__navigation {
  display: flex;
  align-self: start;
}

.footer__links-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__links {
  width: 240px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: start;
}

.footer__links-image {
  height: 48px;
}